<!Doctype html>
<html>

<head>
     <title>Python Web App</title>
     <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
     <link href="static/css/work.css" rel="stylesheet">
</head>

<body>
    <div class="main-container">
        <div class="cloud-image">
            <img src="static/img/working_gophers.png" />
        </div>
       <div class="content">
        
          <div class="content-body">
            <div class="description">{{message}}</div>
          </div>
        </div>
    </div>
</body>

</html>